<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="${package}.mapper.${ClassName}Mapper">

    <resultMap id="${ClassName}Result" type="${ClassName}" >
        <#list table.columns as column>
            <result property="${column.name}" column="${column.dbName}" />
        </#list>
    </resultMap>

    <sql id="select${ClassName}Vo">
        select  <#list table.columns as column> ${column.dbName}<#if column_has_next>,</#if> </#list>
        from ${tableName}
    </sql>
    <!-- 查询列表 -->
    <select id="select${ClassName}List" parameterType="${ClassName}" resultMap="${ClassName}Result">
        <include refid="select${ClassName}Vo"/>
        <where>
            <#list table.columns as column>
                <#if column.type == 'String'>
                    <if test = ${"\""}${column.name + r" != null and " +column.name + r" != ''" }${"\""}>
                        and ${column.dbName}  = ${ r"#{" + column.name }}
                    </if>
                <#else>
                    <if test = ${"\""}${column.name + r" != null"}${"\""}>
                        and ${column.dbName}  = ${ r"#{" + column.name }}
                    </if>
                </#if>
            </#list>
        </where>
    </select>
    <!-- 根据ID查询实体类 -->
    <select id="select${ClassName}ById" parameterType="${pkColumn.type}" resultMap="${ClassName}Result">
        <include refid="select${ClassName}Vo"/>
        where <#list table.pkColumns as column> ${column.dbName}  = ${ r"#{" + column.name }} </#list>
    </select>
    <!-- 插入实体类 -->
    <insert id="insert${ClassName}" parameterType="${ClassName}" useGeneratedKeys="true" >
        insert into ${tableName}
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <#list table.columns as column>
            <if test = ${"\""}${column.name + r" != null"}${"\""}>
                ${column.dbName},
            </if>
            </#list>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <#list table.columns as column>
            <if test = ${"\""}${column.name + r" != null"}${"\""}>
                ${ r"#{" + column.name }},
            </if>
            </#list>
        </trim>
    </insert>
    <!-- 更新实体类 -->
    <update id="update${ClassName}" parameterType="${ClassName}">
        update ${tableName}
        <trim prefix="SET" suffixOverrides=",">
            <#list table.columns as column>
            <#if column.name != '${pkColumn.name}' >
            <if test = ${"\""}${column.name + r" != null"}${"\""}>
            ${column.dbName}  = ${ r"#{" + column.name }},
            </if>
            </#if>
            </#list>
        </trim>
        where <#list table.pkColumns as column> ${column.dbName}  = ${ r"#{" + column.name }} </#list>
    </update>
    <delete id="delete${ClassName}ById" parameterType="${pkColumn.type}">
        delete from ${tableName} where <#list table.pkColumns as column> ${column.dbName}  = ${ r"#{" + column.name }} </#list>
    </delete>

    <delete id="delete${ClassName}ByIds" parameterType="${pkColumn.type}">
        delete from ${tableName} where ${pkColumn.dbName} in
        <foreach item="${pkColumn.name}" collection="array" open="(" separator="," close=")">
            ${ r"#{" + pkColumn.name }}
        </foreach>
    </delete>
</mapper>